*{
    background-color: rgb(136, 130, 130);
}
h1{
    text-align: center;
    color: rgb(160, 8, 8);
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    letter-spacing: 2px;
    
}
.container{
    /* background-color: black; */
    height: 600px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(28, 27, 27);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px ;
    column-gap: 10px;
}
button{
    background-color: black;
}
.table{
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    letter-spacing: 1px;
    border-spacing: 30px;
    text-align: center;
}
.button{
    margin: auto;
    text-align: center;
    padding: 20px;
}
.switch{
    margin: auto;
    background-color: darkgrey;
    color: rgb(102, 11, 11);
    height: 30px;
    width: 80px;
    border: 3px solid black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(59, 59, 59);
}

.x{
 color: white;
 font-weight:500;
 font-size: 150px;
 font-family:Arial, Helvetica, sans-serif;
 text-align: center;
 }
.o{
color: white;
 font-weight:500;
 font-size: 150px;
 font-family:Arial, Helvetica, sans-serif;
 text-align: center;
 }